$dark-blue : #5656bd;
$dark-blue-alpha : #5656bde1;
$medium-blue : #6d6dcc;
$medium-blue-alpha : #6d6dcce0;


$dark-yellow : #DAA520cc;
$dark-yellow-alpha : #DAA520e0;
$medium-yellow : #FFD700;
$medium-yellow-alpha : #FFD700e1;

$medium-grey : #777;